<form method="Post" action="/login">
    <label for="username">Username<input name='username' type="text" required id="username"> </label>
    <label for="password">Password <input name='password' type="password" required id="password" </label>></label>
    <input type="submit" value="submit">
</form>
<a href="/signup">Dont have account</a>