<form method="Post" action="/login">
    <input  name='username' placeholder="Username" type="text" required>
    <input  name='passWord' placeholder="Password" type="password" required>
    <input type="submit" value="submit">
</form>
<a href="/signup">Dont have account</a>