<form method="Post" action="/signup">
    <input name="email" placeholder="Email" type="email" required>
    <input name="passWord" placeholder="Password" type="password" required>
    <input name="username" placeholder="Username" type="text" required>
    <input name="confirmPassword" placeholder="Confirm Password" type="password" required>
    <input type="submit" value="submit">
</form>