<div class="page-wrapper">
    <div class="wrapper">
        <div class="card__heading"></div>
        <div class="card__body">
            <h1 class="card__title">Sign Up</h1>
            <form class="signupForm" method="Post" action="/signup">
                <input name="email" type="email" id="email" placeholder="Email" aria-label="email" required>
                <input name="username" type="text" id="username" placeholder="User Name" aria-label="username" required>
                <input name="password" type="password" id="password" placeholder="Password" aria-label="password" required>
                <input name="confirmPassword" type="password" id="confirmPassword" placeholder="Confirm Password" aria-label="confirmPassword"
                        required>
                <input type="submit" value="submit" class="signup__button">
            </form>
            <a href="/login">Already have an account?</a>
        </div>
    </div>
</div>