<header class="home__header">
    <a class="home__logout" href="/logout">Logout</a> <br>
    <h1 class="home__logo">{{title}}</h1>
    <p class="home__username">*** Hello {{username}} ***</p>
    <a href="/logout">Logout</a>
</header>